.equipment-grid-section{
    margin: 3rem 0;

    &__header{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 2rem;
        color: $color-grey-dark;
        font-size: 1.75rem;
        text-align: center;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); 
        grid-gap: 3rem;
        margin-bottom: 2rem;
        padding: 2rem;
        width: 100%;
        max-width: 1800px;
        margin: 0 auto;
    }
}

