*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li {
    list-style-type: none;
}

html{
    font-size: 62.5%; /* 62.5% of the default root font (16px) to have rems in increments of 10px; 1 rem = 16px */
}